html * {
  font-family: roboto; }

.sidebar-user {
  border: 1px solid black; }
  .sidebar-user ul.user-list {
    width: 100%;
    padding: 0; }
    .sidebar-user ul.user-list li {
      border: 1px solid black;
      padding: 10px;
      list-style-type: none;
      width: 100%; }

textarea {
  border: 1px solid;
  width: 100%;
  padding: 10px; }

table {
  border-collapse: collapse; }
  table tr td {
    border: 1px solid black;
    padding: 5px; }
