html * {
    font-family: roboto;
}

.frontpage {}

.sidebar-user {
    border: 1px solid black;

    ul.user-list {
        width: 100%;
        padding: 0;

        li {
            border: 1px solid black;
            padding: 10px;
            list-style-type: none;
            width: 100%;
        }
    }
}

.markdown-window {
    border: 1px solid;
    width: 100%;
}

textarea {
    border: 1px solid;
    width: 90%;
    padding: 10px;
}

table {
    width: 90%;
    border-collapse: collapse;

    tr {
        td {
            border: 1px solid black;
            padding: 5px;
        }
    }
}
