<md-content flex layout="row">
    <div flex="20" layout="column" class="sidebar-user" layout-align="center center">
        <div flex layout="column" layout-align="center center">
            <md-input-container class="md-block" flex-gt-sm>
                <label>User</label>
                <input ng-model="user.name">
            </md-input-container>
            <p>Connected: {{ connection.state }}</p>
            <h4>Users</h4>
            <ul class="user-list">
                <li ng-repeat="user in users" class="user" ng-if="user.ttl > 0">
                    {{ user.client.name }}
                </li>
            </ul>
        </div>
    </div>
    <div flex="80" layout="column" class="frontpage" layout-align="center center">
        <label>Content</label>
        <textarea flex="grow" ng-disabled="!connection.state" ng-model="content.text" rows="10" md-select-on-focus></textarea>
        <label>Markdown to html</label>
        <p markdown-to-html="content.text"></p>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Timestamp</th>
                    <th>Content</th>
                    <th>Revert to</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="change in changeCollection ">
                    <td> {{ change.user}} </td>
                    <td>{{ change.timestamp | date:'dd.MM.yyyy @ HH:mm:ss.sss' }}</td>
                    <td>{{ change.content }}</td>
                    <td><button ng-click="revertToChange(change) ">Revert</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>
